export(llm_generate_code)
export(llm_fix_code)
export(llm_explain_code)
export(llm_settings)
export(add_custom_model)
export(remove_custom_model)
export(list_custom_models)
export(import_openrouter_models)
export(create_custom_models_template)
import(shiny)
import(miniUI)
import(rstudioapi)
import(httr2)
import(jsonlite)
import(glue)
importFrom(stats, setNames)
importFrom(utils, packageVersion)